<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
<title>辩论协会官方主页</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
{% load static %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
<link id="mainCSS" rel="stylesheet" href="{% static "css/red.css" %}">            
                		
<style>

.white-color {
	color:#ffffff;
}

.user-info {
	position:fixed;
	right:5pt;
	top:0;
	font-size:1em;
	color:black;
	background-color:rgba(255,255,255,0.7);
	padding:0 0.5em
}
</style>

</head>
<body>

<div class="user-info" >
{% if name %}
你好 {{name}} [<a href="/accounts/logout/">登出</a>]
{% else %}
 [<a href="/accounts/login/">登录</a>]
{% endif %}
</div>

<div class="header-section">
		
		<div class="name-upper">
			<image src="{% static "bx.jpg" %}" />
		</div>

	</div>
<!--Main Header Section End-->
<div class="container subscribe-sec">
   <div class="row text-center">
	   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
	  <h1>  清华大学学生辩论协会</h1> 
		   <hr />
		   <h4 >COME AND JOIN US!</h4>

			  
		   </div>
	   </div>
   </div>
</div>
  <!--Subscribe Section End-->
<div class="about-sec" >
	<div class="container" >
   <div class="row text-center">
   	   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-b-r pad-o" >
	   <a target="_blank" href="https://mp.weixin.qq.com/s/-lWjur3CluJAmcqEKncM7g" class="white-color">
		  <i class="fa fa-calendar-check-o fa-5x" ></i>
		   <h3 >赛事详情</h3>
		   <p>
			   了解最近一轮清锋明辩各场比赛的时间、地点、辩题
		   </p>
	   </a>
	   </div>
   
	   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-b-r pad-o" >
	   <a href="/bocai/" class="white-color">
		  <i class="fa fa-shopping-basket fa-5x" ></i>
		   <h3 >菠菜</h3>
		   <p>
			   清锋明辩有奖竞猜，为你看好的队伍投下菠菜吧
		   </p>
	   </a>
	   </div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-b pad-o" >
		<a target="_blank" href="https://mp.weixin.qq.com/s/9FtINgwxpEtIMgnGbXl_tg" class="white-color">
		  <i class="fa fa-location-arrow fa-5x" ></i>
		   <h3 >入协</h3>
		   <p>
			   进入报名推送，填写问卷加入我们吧
		   </p>
	   </a>
	   </div>
   </div>
   
		<div class="row text-center">
	   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-r pad-o" >
	   <a target="_blank" href="http://telegra.ph/MoBian-03-31" class="white-color">
		  <i class="fa fa-comments fa-5x" ></i>
		   <h3 >牵线</h3>
		   <p>
			   帮助需要模辩、练习赛的队伍牵线搭桥
		   </p>
	   </a>
	   </div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-r pad-o" >
		<a target="_blank" href="https://mp.weixin.qq.com/s/wq9bFo2oRfvmegjf0KX_tA" class="white-color">
		  <i class="fa fa-home fa-5x" ></i>
		   <h3 >友情链接</h3>
		   <p>
			   欢迎关注校辩论队承办的“新型城镇化主题辩论赛”
		   </p>
	   </a>
	   </div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  pad-o" >
		  <i class="fa fa-spinner fa-pulse fa-5x" ></i>
		   <h3 >Coming..</h3>
		   <p>
			   更多内容，敬请期待
		   </p>
	   </div>
   </div>
		
</div>
</div>
  <!--About Section End-->

 <!--Contact Section End-->
<div id="footer">由辩协宣传部制作.<a target="_blank" href="/admin/">进入后台</a></div>
<!--Footer Section End-->


</body>
</html>

