<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
<title>Home</title>
<!-- BOOTSTRAP CORE STYLE CSS -->
<link href="http://demo.sc.chinaz.com/Files/DownLoad/moban/201703/moban1970/assets/css/bootstrap.css" rel="stylesheet" />

 <!-- STYLE SWITCHER CSS -->
<link href="http://demo.sc.chinaz.com/Files/DownLoad/moban/201703/moban1970/assets/css/style-switcher.css" rel="stylesheet" />
  <!-- CUSTOM STYLE CSS -->
<link href="http://demo.sc.chinaz.com/Files/DownLoad/moban/201703/moban1970/assets/css/style.css" rel="stylesheet" />
<!-- THEME COLOR STYLE ( DY DEFAULT IT IS HAVING RED COLOR YOUR CAN CHANGE IT BY REPLACEING red.css TO blue.css) -->
<link id="mainCSS" href="http://demo.sc.chinaz.com/Files/DownLoad/moban/201703/moban1970/assets/css/themes/red.css" rel="stylesheet" />

<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                        		
<style>

.white-color {
	color:#ffffff;
}

</style>

</head>
<body>
 <div class="switcher" style="left:-95px;">
	
	<ul class="colors-list">           
		<li><a title="Blue" id="blue" class="blue" ></a></li>
		<li><a title="Red" id="red" class="red" ></a></li>
	</ul>
</div>	
<!-- STYLE SWITCHER DIV END-->
<div class="header-section">
		
		<div class="name-upper">
			{% load static %}
			<image src="{% static "bx.jpeg" %}" />
		</div>

	</div>
<!--Main Header Section End-->
<div class="container subscribe-sec">
   <div class="row text-center">
	   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
	  <h1 >  清华大学学生辩论协会</h1> 
		   <hr />
		   <h4 >COME AND JOIN US!</h4>

			  
		   </div>
	   </div>
   </div>
</div>
  <!--Subscribe Section End-->
<div class="about-sec" >
	<div class="container" >
   <div class="row text-center">
	   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-r pad-o" >
	   <a href="/bocai/" class="white-color">
		  <i class="fa fa-shopping-basket fa-5x" ></i>
		   <h3 >菠菜</h3>
		   <p>
			   清锋明辩有奖竞猜
		   </p>
	   </a>
	   </div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bdr-r pad-o" >
		<a href="https://mp.weixin.qq.com/s/9FtINgwxpEtIMgnGbXl_tg" class="white-color">
		  <i class="fa fa-location-arrow fa-5x" ></i>
		   <h3 >入协</h3>
		   <p>
			   进入报名推送，填写问卷加入我们
		   </p>
	   </a>
	   </div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  pad-o" >
		  <i class="fa fa-spinner fa-pulse fa-5x" ></i>
		   <h3 >Coming..</h3>
		   <p>
			   更多内容，敬请期待
		   </p>
	   </div>
   </div>
		
</div>
</div>
  <!--About Section End-->

 <!--Contact Section End-->
<div id="footer">由辩协宣传部制作.<a target="_blank" href="/bocai/manage/">进入后台</a></div>
<!--Footer Section End-->


</body>
</html>

