<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
<title>菠菜</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
{% load static %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
<link id="mainCSS" rel="stylesheet" href="{% static "css/red.css" %}">            
                		
<style>

.white-color {
	color:#ffffff;
}

body {
	background:url("{% static "bocai.jpg" %}");
	background-size:33.333333%;
	color:#00ff33;
}

</style>

</head>
<body>

<!--Main Header Section End-->
<div class="container subscribe-sec">
   <div class="row text-center">
	   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12"  style="background-color:rgba(150,0,255,0.8);">
	   <h2> 辩论协会 </h2>
	  <h1>  清锋明辩-菠菜杯竞猜活动</h1> 
		   <hr />
			  
		   </div>
	   </div>
   </div>
</div>
  <!--Subscribe Section End-->
<div class="about-sec" >
	<div class="container" >
   <div class="row text-center">
	   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bdr-b-r pad-o" >
	   <a href="betting/" class="white-color">
		  <i class="fa fa-bank fa-5x" ></i>
		   <h3 >余额与下注</h3>
	   </a>
	   </div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bdr-b pad-o" >
		<a href="rank/" class="white-color">
		  <i class="fa fa-globe fa-5x" ></i>
		   <h3 >排行榜</h3>
	   </a>
	   </div>
		
   </div>
		
</div>
</div>
  <!--About Section End-->

 <!--Contact Section End-->
<div id="footer">由辩协宣传部制作.<a target="_blank" href="/bocai/manage/">菠菜管理后台</a></div>
<!--Footer Section End-->


</body>
</html>

